In [2]:
import pandas as pd
import numpy as np
import collections

In [3]:
'''
TODO 多標籤處理 (genres, themes)
TODO 不同基準分類(year, type, genres, themes)
'''

'\nTODO 多標籤處理 (genres, themes)\nTODO 不同基準分類(year, type, genres, themes)\n'

In [4]:
origin_anime_data = pd.read_csv('Anime.csv')
origin_anime_data.head()

,ID,Title,Synonyms,Japanese,English,Synopsis,Type,Episodes,Status,Start_Aired,...,Themes,Demographics,Duration_Minutes,Rating,Score,Scored_Users,Ranked,Popularity,Members,Favorites
0,16498,Shingeki no Kyojin,"AoT, SnK",進撃の巨人,Attack on Titan,"Centuries ago, mankind was slaughtered to near...",TV,25.0,Finished Airing,"Apr 7, 2013",...,"Gore, Military, Survival",Shounen,24.0,R - 17+ (violence & profanity),8.531,519803.0,1002.0,1,3524109,155695
1,1535,Death Note,DN,デスノート,Death Note,"Brutal murders, petty thefts, and senseless vi...",TV,37.0,Finished Airing,"Oct 4, 2006",...,Psychological,Shounen,23.0,R - 17+ (violence & profanity),8.621,485487.0,732.0,2,3504535,159701
2,5114,Fullmetal Alchemist: Brotherhood,"Hagane no Renkinjutsushi Fullmetal Alchemist, ...",鋼の錬金術師 FULLMETAL ALCHEMIST,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...,TV,64.0,Finished Airing,"Apr 5, 2009",...,Military,Shounen,24.0,R - 17+ (violence & profanity),9.131,900398.0,12.0,3,2978455,207772
3,30276,One Punch Man,"One Punch-Man, One-Punch Man, OPM",ワンパンマン,One Punch Man,The seemingly unimpressive Saitama has a rathe...,TV,12.0,Finished Airing,"Oct 5, 2015",...,"Parody, Super Power",Seinen,24.0,R - 17+ (violence & profanity),8.511,19066.0,1112.0,4,2879907,59651
4,11757,Sword Art Online,"S.A.O, SAO",ソードアート・オンライン,Sword Art Online,Ever since the release of the innovative Nerve...,TV,25.0,Finished Airing,"Jul 8, 2012",...,"Love Polygon, Video Game",Unknown,23.0,PG-13 - Teens 13 or older,7.201,990254.0,29562.0,5,2813565,64997

In [5]:
# 查看欄位並刪除不要的欄位
anime_data = origin_anime_data.drop(['Synonyms', 'Premiered', 'Broadcast'], axis=1)
anime_data.columns

Index(['ID', 'Title', 'Japanese', 'English', 'Synopsis', 'Type', 'Episodes',
       'Status', 'Start_Aired', 'End_Aired', 'Producers', 'Licensors',
       'Studios', 'Source', 'Genres', 'Themes', 'Demographics',
       'Duration_Minutes', 'Rating', 'Score', 'Scored_Users', 'Ranked',
       'Popularity', 'Members', 'Favorites'],
      dtype='object')

In [6]:
# 按照日期排序
anime_data = anime_data.sort_values(by='Start_Aired')
anime_data.head()

,ID,Title,Japanese,English,Synopsis,Type,Episodes,Status,Start_Aired,End_Aired,...,Themes,Demographics,Duration_Minutes,Rating,Score,Scored_Users,Ranked,Popularity,Members,Favorites
15820,23651,Hanawa Hekonai Kappa Matsuri,塙凹内かっぱまつり,Unknown,Unknown,Movie,1.0,Finished Airing,1917,Not Available,...,Unknown,Kids,NaN,G - All Ages,NaN,NaN,182382.0,15844,308,2
16175,24857,Akagaki Genzou: Tokuri no Wakare,赤垣源蔵徳利の別れ,Unknown,Unknown,Movie,1.0,Finished Airing,1924,Not Available,...,Unknown,Unknown,NaN,G - All Ages,NaN,NaN,167672.0,16200,285,0
16471,28689,Noroma na Jiji,のろまな爺,An Old Fool,"An early Noburou Oofuji film, it was artificia...",Movie,1.0,Finished Airing,1924,Not Available,...,Historical,Unknown,5.0,G - All Ages,NaN,NaN,139452.0,16496,264,0
11229,7494,Usagi to Kame,兎と亀,Unknown,"A retelling of the classic Aesop Fable, The To...",Movie,1.0,Finished Airing,1924,Not Available,...,Unknown,Unknown,9.0,G - All Ages,5.201,774.0,120012.0,11240,1298,2
13078,34969,Senga Tsubo,線畫 つぼ,The Pot,Classical animation directed by Yamamoto Sanae.,Movie,1.0,Finished Airing,1925,Not Available,...,Unknown,Unknown,17.0,G - All Ages,5.431,373.0,113182.0,13092,673,0

In [7]:
# 將年份擷取出來形成新columns
anime_data['year'] = anime_data['Start_Aired'].str.extract(r'(\d{4})')
anime_data['year'] = pd.to_numeric(anime_data['year'])

In [8]:
counter_year = collections.Counter(anime_data["year"])
df_year = pd.DataFrame({"year":counter_year.keys(),
                    "count": counter_year.values()})

In [9]:
df_year[df_year["year"] > 1990]

      year  count
64  1991.0    216
65  1992.0    240
66  1993.0    217
67  1994.0    210
68  1995.0    203
69  1996.0    221
70  1997.0    226
71  1998.0    257
72  1999.0    281
73  2000.0    267
74  2001.0    386
75  2002.0    371
76  2003.0    391
77  2004.0    412
78  2005.0    463
79  2006.0    514
80  2007.0    516
81  2008.0    534
82  2009.0    624
83  2010.0    667
84  2011.0    774
85  2012.0    823
86  2013.0    817
87  2014.0    949
88  2015.0    904
89  2016.0   1023
90  2017.0   1068
91  2018.0   1044
92  2019.0    958
93  2020.0    897
94  2021.0    923
95  2022.0    698
96  2023.0    111

In [10]:
df_year[df_year["count"] > 50]

      year  count
48  1975.0     51
49  1976.0     54
50  1977.0     55
51  1978.0     69
52  1979.0     89
53  1980.0    101
54  1981.0    107
55  1982.0    118
56  1983.0    118
57  1984.0    122
58  1985.0    148
59  1986.0    153
60  1987.0    186
61  1988.0    186
62  1989.0    220
63  1990.0    222
64  1991.0    216
65  1992.0    240
66  1993.0    217
67  1994.0    210
68  1995.0    203
69  1996.0    221
70  1997.0    226
71  1998.0    257
72  1999.0    281
73  2000.0    267
74  2001.0    386
75  2002.0    371
76  2003.0    391
77  2004.0    412
78  2005.0    463
79  2006.0    514
80  2007.0    516
81  2008.0    534
82  2009.0    624
83  2010.0    667
84  2011.0    774
85  2012.0    823
86  2013.0    817
87  2014.0    949
88  2015.0    904
89  2016.0   1023
90  2017.0   1068
91  2018.0   1044
92  2019.0    958
93  2020.0    897
94  2021.0    923
95  2022.0    698
96  2023.0    111

In [11]:
# 統計基本資料
counter_demographics = collections.Counter(anime_data["Demographics"])
print("觀看族群", counter_demographics)

觀看族群 Counter({'Unknown': 13426, 'Kids': 4225, 'Shounen': 2028, 'Seinen': 908, 'Shoujo': 673, 'Josei': 100, 'Kids, Shounen': 66, 'Kids, Shoujo': 32, 'Kids, Seinen': 1, 'Josei, Shoujo': 1})

In [12]:
# 將日文轉換成英文
anime_data.replace(['Shounen', 'Seinen', 'Shoujo', 'Josei'], ['young boy', 'teenager', 'young girl', 'female'], inplace=True)

In [13]:
counter_type = collections.Counter(anime_data['Type'])
print(counter_type)

Counter({'TV': 6280, 'OVA': 3982, 'Movie': 3900, 'ONA': 2803, 'Special': 2422, 'Music': 2028, 'Unknown': 45})

In [14]:
'''
counter_genres = collections.Counter(anime_data['Genres'])
counter_theme = collections.Counter(anime_data['Themes'])
print('種類', counter_genres)
print('---------------------------------------')
print('主題', counter_theme)
'''

"\ncounter_genres = collections.Counter(anime_data['Genres'])\ncounter_theme = collections.Counter(anime_data['Themes'])\nprint('種類', counter_genres)\nprint('---------------------------------------')\nprint('主題', counter_theme)\n"

In [15]:
# 統計genres
# .str 為轉換資料型態為string
# anime_data.Genres.str.get_dummies(sep=', ').sum()

In [16]:
# 統計themes
#　anime_data.Themes.str.get_dummies(sep=', ').sum()

### 依據type分析

In [17]:
TV_mask = anime_data["Type"] == "TV"
OVA_mask = anime_data['Type'] == 'OVA'
movie_mask = anime_data['Type'] == 'Movie'
ONA_mask = anime_data['Type'] == 'ONA'
special_mask = anime_data['Type'] == 'Special'
music_mask = anime_data['Type'] == 'Music'
unknown_type_mask = anime_data['Type'] == 'Unknown'

In [18]:
# TV
TV = anime_data[TV_mask]
TV.to_csv('TV_anime.csv', index=False)

In [26]:
# OVA
OVA = anime_data[OVA_mask]
OVA.to_csv('OVA_anime.csv', index=False)

In [27]:
# movie
movie = anime_data[movie_mask]
movie.to_csv('movie_anime.csv', index=False)

In [28]:
# ONA
ONA = anime_data[ONA_mask]
ONA.to_csv('ONA_movie.csv', index=False)

In [29]:
# special
special = anime_data[special_mask]
special.to_csv('special_anime.csv', index=False)

In [30]:
# music
music = anime_data[music_mask]
music.to_csv('music_anime.csv', index=False)

In [31]:
# unknown
unknown = anime_data[unknown_type_mask]
unknown.to_csv('unknown_type_anime.csv', index=False)

### 依據年份分類

In [25]:
# TODO 依年份分類